*{
padding: 0;
margin: 0;
border: 0;
}
footer {/*Mantiene fijo el Footer*/
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
/*clases*/
.clase-general{
  display: table-row;
}
