*{
padding: 0;
margin: 0;
border: 0;
}
/*clases*/
section#barra_herramienta{
	width: 50%;
    height: 0%;	
    padding: 2%; 
	position: absolute;
	left: 22%;
	top:575px;
	bottom: 0;
	border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 30px solid rgba(0,0,0,.3);
	color: #fff; 
	text-shadow: 100 -1px 0 rgba(0,0,0,13); 
	font-size: 18px; 
	line-height: 18px; 
	text-align: left; 
	font-family: Verdana;
	font-weight: bold;
}
